.all {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all nav {
  display: flex;
  width: 100%;
}

.all nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-family: "Lato-Bold", "Helvetica", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  color: black;
  list-style-type: none;
}

.all nav ul a {
  background-color: transparent;
  text-decoration: none;
}

.all nav ul a:visited {
  color: black;
}

.all nav ul li {
  background-color: gray;
  padding: 5%;
}

section {
  width: 100%;
  margin: 2%;
  padding: 2%;
  background-color: gray;
}

img {
  width: 250px;
  border: 0;
}